html, 
body, 
#map-canvas{ 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

.logo {
    width: 230px;
    height: 26px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 50px;
    opacity: 0.9;
    z-index: 9999;
    color: #006ad4;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    padding: 15px 8px;
    box-shadow: 0 0 10px rgba(128,128,128,0.5);
}

.sub {
    font-size: 10px;
    color: #000;
    letter-spacing: normal;
    font-weight: normal;
}

.marker {
    width: 20px;
    height: 20px;
    background: #006ad4;
    border-radius: 10px;
    opacity: 0.8;
}

.info-markup h1 {
    font-size: 20px;
}